#blog-containers-container {
    padding: 50px;
}

#blog-container {
    background-color: rgb(212, 243, 212);
    padding: 50px;
    height: 700px;
    width: 40%;
    margin: 0 auto;
    font-size: 18px;
    border-radius: 10px;
}

#blog-container h3, h5 {
    margin: 0;
}