.option-card {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 5vw;
    height: 5vh;
    box-shadow: 1px 1px 5px 1px black;
    font-size: smaller;
    
}


.option-card h6 {
    width: 100%;
}
.option-card:hover {
    background-color: rgba(0, 253, 0, 0.829);
}

