.logo{
    color: white;
    text-shadow: 1px 1px 5px black;
    display: flex;
    align-items: center;
    
}

.logo h1 {
    margin: 0;
}
.logo p {
    text-shadow: none;
    color: black;
    margin-left: 15px;
    margin-top: 24px;
}