.topics {
    text-align: center;
    
}

.topics-cont {
    padding: 50px;
    background-color: rgba(251, 251, 150, 0.278);
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.topics h2 {
    background-color: rgba(250, 235, 215, 0.332);
    margin: 0;
    padding: 10px;
}