.topics-cont {
    text-align: center;
    padding: 6%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10%;
    justify-content: center;
    align-items: center;
    height: auto;
}



.topic-container-heading {
    padding: 10px;
    font-size: 4vw;
    width: 60%;
    margin: 0 auto;
    line-height: 70%;
    padding: 2%;
    text-align: center;
}


/* Query for small screen */
@media only screen and (max-width: 768px) {
    .topics-cont {
        display: grid;
        grid-template-columns: auto;
        gap: 50px;  
        padding: 100px;
    }
}

/* Query for large screen */
@media only screen and (min-width: 769px) {
    .topics-cont {
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;  
        padding: 100px;
    }
}

/* Query for extra large screen */
@media only screen and (min-width: 992px) {
    .topics-cont {
        display: grid;
        grid-template-columns: auto auto;
        padding: 100px;
        gap: 8%;
    }
}