
/* Styles of Quizes Container  */
.quize-and-stats-component-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    
}

/* Styling name of the topic */
.quizes-container h1 {}

.quize-card-container {
    padding: 10%;
}


@media only screen and (max-width: 576px) {
    .quize-and-stats-component-container {

    }
}


