/* Styles of Quizes Container  */
.quize-and-stats-component-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    background-color: green;
    padding: 5%;
}

.quize-card-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 70vw;
    background-color: yellow;
    padding-top: 2%;
    padding-bottom: 5%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 11%;
    position: relative;
}

.quize-card-container h1 {
    position: absolute;
    top: 0;
    left: 25vw;
    font-size: 3vw;
    z-index: 1;
}

@media only screen and (max-width: 992px) {
    .quize-card-container {
        grid-template-columns: auto;
    }
}
@media only screen and (min-width: 993px) {
    .quize-card-container {
       
    }
}




