.selected-topic-logo-cont  {
    width: 100%;
    height: 10%;
    background-color: aqua;

}
.selected-topic-logo-cont img {
    width: 20%;
    height: 250px;
}

/* Styles of Quizes Container  */


.quize-and-stats-component-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

/* Styling name of the topic */
.quizes-container h1 {
    text-align: center;
    margin: 0;
}

.quize-card-container {
    text-align: center;
    padding: 20px;
    margin: 0 auto ;
}


@media only screen and (max-width: 576px) {
    .quize-and-stats-component-container {

    }
}


