.navitems a {
    text-decoration: none;
    color:  black;
    font-weight: bolder;
    font-size: smaller;
    padding: 5px 15px;
    border-radius: 10px;
  }
  
  .navitems a:hover {
    background-color: whitesmoke;
  }




@media screen and (max-width: 576px) { 
  .navitems  {
   display: flex;
   flex-direction: column;
   position: absolute;
   background-color: aquamarine;
   top: 0;
   width: 100%;
   text-align: center;
  }
  .navitems a:hover {
    background-color: aliceblue;
  }
}
