.navitems a {
    text-decoration: none;
    color:  black;
    font-weight: bolder;
    font-size: smaller;
    padding: 5px 15px;
    border-radius: 10px;
  }
  
  .navitems a:hover {
    background-color: whitesmoke;
  }

  .show {
    background-color: yellow;
  }

  .hide {
    background-color: red;
  }

@media screen and (max-width: 576px) { 
   .show  {
   display: flex;
   flex-direction: column;
   position: absolute;
   background-color: aquamarine;
   top: -200px;
   width: 100%;
   text-align: center;
  }

  .hide {
    background-color: blue;
  }
  .navitems a:hover {
    background-color: aliceblue;
  }
}
