.topic-cont {
    padding: 50px;
    background-color: rgba(251, 251, 150, 0.278);
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    justify-content: center;
    align-items: center;
    
}
.quiz-cont h1 {
    margin: 0;
}