/* Style for main contaner */
#blog {
    /* fjdkk */
}


/* Style for blog container */

#blog-container {
   
    background-color: lightgreen;
    padding: 50px;
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

#blog-container h3, h5 {
    margin: 0;
}