/* Style for Stats container */
#stats {
    background-color: rgb(2, 136, 253);
    position: sticky;
    top: 0;
    width: 20vw;
    height: 100vh;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#stats h1 {
    font-size: 3vw;
    margin-bottom: 10%;
}


/* styles for stat containers */
#total-correct-answer-container {
    background-color: rgb(130, 237, 148);
    padding: 5px;
    margin-bottom: 25px;
}
#total-incorrect-answer-container {
    background-color: rgb(245, 102, 102);
    padding: 5px;
}
.state-container {
    margin: 0 auto;
    width: 70%;
    height: 35vh;
    border-radius: 10px;
}
.state-container h3 {
    margin: 0;
    margin-top: 10px;
    font-size: smaller;
}


/* Styles for total correct and incorrect answer number container */
.number-container {
    font-size: 50px;
    font-weight: bold;
}

/* @media only screen and (max-width: 768px) {
    #stats {
        width: 30vw;
    }
} */