.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(21, 250, 17);
    align-items: center;
    font-weight: bold;
    padding: 0;
}

.header a {
    text-decoration: none;
    color:  black;
    padding-right: 20px;
    font-size: 20px;
}